//字体颜色
$font-color:#fff;
$font-shen-color:#9ea7b4;

//背景颜色
$background-color:#f5f7f9;
$background-qian-color:#fff;
$background-slide-color:#464c5b;
$background-slide-di-color:#5b6270;








//字体
$font-header:30px;
